html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../public/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins Regular";
  src: url("../public/Poppins/Poppins-Regular.ttf");
}
